.Post {
    width: 100%;
    max-width: 900px ;
    padding: 16px;
    border: 1px solid rgb(243, 241, 241);
    border-bottom-right-radius: 20px;
    box-shadow: 0 6px 8px #ccc;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
    display:block;
    background-color: white;
}
 

.React{
    font-size: 80%;
}
.Author {
    display: inline;
    margin: 16px 0;
    font-family: fantasy;
    text-align: left;
}
.Date {
    display: inline;
    margin: 16px 0;
    position:absolute;
    top:0px;
    right:6px;
    font-size: 80%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.Content{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 110%;
}
.Like{
    border:none;
    outline-style: none;
    background-color:inherit;
}

.Dislike{
   border:none;
   outline-style: none;
   background-color: inherit;
}
.Space{
    padding-left: 15px;
    padding-right: 15px;
    font-size: 150%;
}
.Active{
    border-radius: 5px;
    background-color: rgba(0, 0, 255, 0.603);
    color:white;
}
.Blacklist {
    background-color: rgb(189, 188, 188);
    border:none;
}

.DndBButton {
    margin-top:15px;
    background-color: white;
    border:2px solid black;
    border-radius:10px;
    padding:6px;
    display:block;
    bottom:10px;
    right:10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 100%;
    outline-style: none;
}

.DndBButton:hover{
    background-color:black;
    color:white;
}

@media (max-width: 300px) {
    .Date {
        position: unset;
        display: block;
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

button:disabled{
    color:black;
    background-color: white;
}
